In [1]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import wordpunct_tokenize
from nltk import word_tokenize
from nltk.stem.porter import *
from nltk.tokenize import RegexpTokenizer
import os,sys
import re
import pickle
import pandas as pd
import numpy as np
import tqdm
from tqdm import tqdm
import random
import math
from collections import Counter
import functools

In [2]:
with open('data/stop_words.txt') as f:
    stop_words_list = f.read().splitlines() #stop_list1
stop_list2 = pickle.load(open('data/stop_list2.pkl','rb'))
ps = PorterStemmer() # Stemming
stop_words = set(stopwords.words('english')) #Stopword
short = ['.', ',', '"', "\'", '?', '!', ':', ';', '(', ')', '[', ']', '{', '}', "'at",
         "_","`","\'\'","--","``",".,","//",":","___",'_the','-',"'em",".com",
                   '\'s','\'m','\'re','\'ll','\'d','n\'t','shan\'t',"...","\'ve",'u']
stop_words_list.extend(short)
stop_words_list.extend(stop_list2)
stop_words.update(stop_words_list)

In [3]:
def preprocess(texts):
    tokens = [i for i in word_tokenize(texts.lower()) if i not in stop_words]  # Tokenization.# Lowercasing
    token_result = ''
    token_result_ = ''
    for i,token in enumerate(tokens): #list2str
        token_result += ps.stem(token) + ' '
    token_result = ''.join([i for i in token_result if not i.isdigit()])
    token_result = [i for i in word_tokenize(token_result) if i not in stop_words]
    for i,token in enumerate(token_result):
        token_result_ += token + ' '
    return token_result_

## Feature Selection
* tf-idf
* chi-square
* likelihood
* PMI
* EMI

=> build dictionary in 500 words

### LLR

In [380]:
dict_df = pd.read_csv('data/dictionary.txt',header=None,index_col=None,sep=' ')
terms = dict_df[1].tolist() #all terms

In [187]:
with open('data/training.txt','r') as f:
    train_id = f.read().splitlines()
train_dict = {}
for trainid in train_id:
    trainid = trainid.split(' ')
    trainid = list(filter(None, trainid))
    train_dict[trainid[0]] = trainid[1:]
train_dict #class:doc_id
train_dict = pickle.load(open('data/train_dict.pkl','rb'))

{'1': ['11',
  '19',
  '29',
  '113',
  '115',
  '169',
  '278',
  '301',
  '316',
  '317',
  '321',
  '324',
  '325',
  '338',
  '341'],
 '2': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '12',
  '13',
  '14',
  '15',
  '16'],
 '3': ['813',
  '817',
  '818',
  '819',
  '820',
  '821',
  '822',
  '824',
  '825',
  '826',
  '828',
  '829',
  '830',
  '832',
  '833'],
 '4': ['635',
  '680',
  '683',
  '702',
  '704',
  '705',
  '706',
  '708',
  '709',
  '719',
  '720',
  '722',
  '723',
  '724',
  '726'],
 '5': ['646',
  '751',
  '781',
  '794',
  '798',
  '799',
  '801',
  '812',
  '815',
  '823',
  '831',
  '839',
  '840',
  '841',
  '842'],
 '6': ['995',
  '998',
  '999',
  '1003',
  '1005',
  '1006',
  '1007',
  '1009',
  '1011',
  '1012',
  '1013',
  '1014',
  '1015',
  '1016',
  '1019'],
 '7': ['700',
  '730',
  '731',
  '732',
  '733',
  '735',
  '740',
  '744',
  '752',
  '754',
  '755',
  '756',
  '757',
  '759',
  '760'],
 '8': ['262',
  '296',
  '304',
  '308',
  '337',
  '397',
  '401',
  '443',
  '445',
  '450',
  '466',
  '480',
  '513',
  '533',
  '534'],
 '9': ['130',
  '131',
  '132',
  '133',
  '134',
  '135',
  '136',
  '137',
  '138',
  '139',
  '140',
  '141',
  '142',
  '143',
  '145'],
 '10': ['31',
  '44',
  '70',
  '83',
  '86',
  '92',
  '100',
  '102',
  '305',
  '309',
  '315',
  '320',
  '326',
  '327',
  '328'],
 '11': ['240',
  '241',
  '243',
  '244',
  '245',
  '248',
  '250',
  '254',
  '255',
  '256',
  '258',
  '260',
  '275',
  '279',
  '295'],
 '12': ['535',
  '542',
  '571',
  '573',
  '574',
  '575',
  '576',
  '578',
  '581',
  '582',
  '583',
  '584',
  '585',
  '586',
  '588'],
 '13': ['485',
  '520',
  '523',
  '526',
  '527',
  '529',
  '530',
  '531',
  '532',
  '536',
  '537',
  '538',
  '539',
  '540',
  '541']}

In [378]:
in_dir = 'data/IRTM/'
train_dict_ = {}
class_token = []
class_token_dict = {}
for c,d in train_dict.items():
    for doc in d:
        f = open('data/IRTM/'+doc+'.txt')
        texts = f.read()
        f.close()
        tokens_all = preprocess(texts)
        tokens_all = tokens_all.split(' ')
        tokens_all = list(set(filter(None,tokens_all)))
        class_token.append(tokens_all)
    class_token_dict[c]=class_token
    class_token=[]
len(class_token_dict['1'])

52

In [71]:
# train_dict = {}
# for c,t in class_token_dict.items():
#     train_dict[c] = list(set(t))
# #     train_dict[c] = dict(Counter(t))
# train_dict

TypeError: unhashable type: 'list'

In [381]:
dict_df.drop(0,axis=1,inplace=True)
dict_df.columns = ['term','score']
dict_df.index = dict_df['term']
dict_df.drop('term',axis=1,inplace=True)
dict_df

             score
term
abandon         39
abc             51
abcnews.com      3
abdallah         2
abdel            3
abdomin          2
abduct           2
abdul           53
abdul-karim     11
abdullah        40
abhorr           2
abid            48
abidjan         36
abil            80
abl            319
ablaz            3
aboard          93
abobo            3
abolish          4
abort            7
abou            29
abound           4
abraham         10
abroad          52
abrog            2
abrupt           5
abruptli         4
absenc           6
absent          14
absente          7
...            ...
young          103
younger         20
youngest         6
youngster        3
youth           15
youzhni          2
yu-              2
yug            139
yugoslav       139
yugoslavia     130
yugoslavian     15
yuri             3
yuxi             2
zacharea         2
zan             47
zarko            6
zawahri          5
zeal             3
zedek            2
zein             4
zell             3
zemin            7
zero             6
zinni           18
zivko            2
zivkov           2
zogbi            3
zone            28
zoran           20
zuric            2

[8913 rows x 1 columns]

In [382]:
dict_df['score'] = 0
dict_df['score_chi'] = 0
dict_df['score_emi'] = 0
# c=1
for term in tqdm(terms): #each term
    scores = []
    scores_chi = []
    scores_emi = []
    c=1
    for _ in range(len(class_token_dict)): # each class
        n11=e11=m11=0
        n10=e10=m10=0
        n01=e01=m01=0
        n00=e00=m00=0
        for k,v in class_token_dict.items():
#             print(k,c)
            if k == str(c): #ontopic
                for r in v:
                    if term in r:
                        n11+=1
                    else:
                        n10+=1
#                 c+=1
            else: #off topic
                for r in v:
                    if term in r:
                        n01+=1
                    else:
                        n00+=1
#                 c+=1
        c+=1
        n11+=1e-8
        n10+=1e-8
        n01+=1e-8
        n00+=1e-8
        N = n11+n10+n01+n00
        e11 = N * (n11+n01)/N * (n11+n10)/N #chi-squre
        e10 = N * (n11+n10)/N * (n10+n00)/N
        e01 = N * (n11+n01)/N * (n01+n00)/N
        e00 = N * (n01+n00)/N * (n10+n00)/N
        score_chi = ((n11-e11)**2)/e11 + ((n10-e10)**2)/e10 + ((n01-e01)**2)/e01 + ((n00-e00)**2)/e00
        scores_chi.append(score_chi)
        
        n11 = n11 - 1e-8 + 1e-6
        n10 = n10 - 1e-8 + 1e-6
        n01 = n01 - 1e-8 + 1e-6
        n00 = n00 - 1e-8 + 1e-6
        N = n11+n10+n01+n00
        m11 = (n11/N) * math.log(((n11/N)/((n11+n01)/N * (n11+n10)/N)),2) #EMI
        m10 = n10/N * math.log((n10/N)/((n11+n10)/N * (n10+n00)/N),2)
        m01 = n01/N * math.log((n01/N)/((n11+n01)/N * (n01+n00)/N),2)
        m00 = n00/N * math.log((n00/N)/((n01+n00)/N * (n10+n00)/N),2)
        score_emi = m11 + m10 + m01 + m00
        scores_emi.append(score_emi)
        
#         print(n11,n10,n01,n00)
        n11-=1e-6
        m10-=1e-6
        n01-=1e-6
        n00-=1e-6
        N = n11+n10+n01+n00
        score = (((n11+n01)/N) ** n11) * ((1 - ((n11+n01)/N)) ** n10) * (((n11+n01)/N) ** n01) * ((1 - ((n11+n01)/N)) ** n00)
        score /= ((n11/(n11+n10)) ** n11) * ((1 - (n11/(n11+n10))) ** n10) * ((n01/(n01+n00)) ** n01) * ((1 - (n01/(n01+n00))) ** n00)
        score = -2 * math.log(score, 10) #LLR
        scores.append(score)
        
        
#         c+=1
    dict_df.loc[term,'score'] = np.mean(scores)
    dict_df.loc[term,'score_chi'] = np.mean(scores_chi)
    dict_df.loc[term,'score_emi'] = np.mean(scores_emi)
dict_df

100%|██████████| 8913/8913 [03:59<00:00, 37.23it/s]

                 score     score_chi     score_emi
term
abandon       1.659552  3.846051e+00  2.913791e-03
abc           0.899990  1.555876e+00  1.580176e-03
abcnews.com   0.204845  6.544514e-01  3.596454e-04
abdallah      0.274067  5.290393e-01  4.811811e-04
abdel         0.411467  7.944005e-01  7.224236e-04
abdomin       0.274067  5.290393e-01  4.811811e-04
abduct        0.160386  3.668540e-01  2.815866e-04
abdul         0.464110  9.267195e-01  8.148566e-04
abdul-karim   1.519594  2.937724e+00  2.668045e-03
abdullah      5.383307  1.045027e+01  9.451857e-03
abhorr        0.599975  4.723560e+00  1.053402e-03
abid          0.378774  8.999763e-01  6.650296e-04
abidjan      10.299234  5.488540e+01  1.808312e-02
abil          0.976184  2.298259e+00  1.713953e-03
abl           0.970499  1.925329e+00  1.703978e-03
ablaz         0.293008  1.039403e+00  5.144410e-04
aboard        6.593954  1.392154e+01  1.157749e-02
abobo         0.812945  4.683628e+00  1.427329e-03
abolish       0.577250  1.702640e+00  1.013504e-03
abort         0.677678  2.420350e+00  1.189835e-03
abou          0.269511  1.557905e+00  4.731823e-04
abound        0.360321  7.431483e-01  6.326256e-04
abraham       1.472125  6.706604e+00  2.584704e-03
abroad        2.623727  7.390832e+00  4.606668e-03
abrog         0.000000  7.117401e-08  2.183305e-09
abrupt        0.249705  1.181549e+00  4.384079e-04
abruptli      0.253273  1.241571e+00  4.446725e-04
absenc        0.600643  2.259850e+00  1.054579e-03
absent        0.361637  1.007732e+00  6.349385e-04
absente       1.352649  5.783335e+00  2.374932e-03
...                ...           ...           ...
young         2.752543  8.000081e+00  4.832844e-03
younger       1.514666  4.640895e+00  2.659406e-03
youngest      0.521708  1.384703e+00  9.159885e-04
youngster     0.270136  8.087003e-01  4.742826e-04
youth         0.659291  1.574781e+00  1.157561e-03
youzhni       0.491417  2.222285e+00  8.627988e-04
yu-           0.418265  1.354611e+00  7.343599e-04
yug           0.000000  7.117401e-08  2.183305e-09
yugoslav     15.820595  4.948838e+01  2.777740e-02
yugoslavia   21.768024  6.407368e+01  3.821976e-02
yugoslavian   1.814555  5.200910e+00  3.185933e-03
yuri          0.507739  2.049276e+00  8.914598e-04
yuxi          0.418265  1.354611e+00  7.343599e-04
zacharea      0.507705  2.485772e+00  8.913961e-04
zan           0.540482  3.119111e+00  9.489453e-04
zarko         1.262433  4.081127e+00  2.216529e-03
zawahri       0.411467  7.944005e-01  7.224236e-04
zeal          0.136912  2.642397e-01  2.403682e-04
zedek         0.000000  7.117401e-08  2.183305e-09
zein          0.549112  1.060325e+00  9.640973e-04
zell          0.738692  3.336962e+00  1.296958e-03
zemin         1.228378  5.883284e+00  2.156738e-03
zero          0.355899  8.665818e-01  6.248644e-04
zinni         2.502540  4.843446e+00  4.393877e-03
zivko         0.208819  6.765889e-01  3.666214e-04
zivkov        0.418265  1.354611e+00  7.343599e-04
zogbi         0.738692  3.336962e+00  1.296958e-03
zone          2.180161  7.458516e+00  3.827861e-03
zoran         4.080964  1.310480e+01  7.165236e-03
zuric         0.208819  6.765889e-01  3.666214e-04

[8913 rows x 3 columns]

In [383]:
dict_df2 = pd.read_csv('data/dictionary.txt',header=None,index_col=None,sep=' ')
dict_df2.columns = ['id','term','freq']
dict_df2['sum'] = 0.0
dict_df2

        id         term  freq  sum
0        1      abandon    39  0.0
1        2          abc    51  0.0
2        3  abcnews.com     3  0.0
3        4     abdallah     2  0.0
4        5        abdel     3  0.0
5        6      abdomin     2  0.0
6        7       abduct     2  0.0
7        8        abdul    53  0.0
8        9  abdul-karim    11  0.0
9       10     abdullah    40  0.0
10      11       abhorr     2  0.0
11      12         abid    48  0.0
12      13      abidjan    36  0.0
13      14         abil    80  0.0
14      15          abl   319  0.0
15      16        ablaz     3  0.0
16      17       aboard    93  0.0
17      18        abobo     3  0.0
18      19      abolish     4  0.0
19      20        abort     7  0.0
20      21         abou    29  0.0
21      22       abound     4  0.0
22      23      abraham    10  0.0
23      24       abroad    52  0.0
24      25        abrog     2  0.0
25      26       abrupt     5  0.0
26      27     abruptli     4  0.0
27      28       absenc     6  0.0
28      29       absent    14  0.0
29      30      absente     7  0.0
...    ...          ...   ...  ...
8883  8884        young   103  0.0
8884  8885      younger    20  0.0
8885  8886     youngest     6  0.0
8886  8887    youngster     3  0.0
8887  8888        youth    15  0.0
8888  8889      youzhni     2  0.0
8889  8890          yu-     2  0.0
8890  8891          yug   139  0.0
8891  8892     yugoslav   139  0.0
8892  8893   yugoslavia   130  0.0
8893  8894  yugoslavian    15  0.0
8894  8895         yuri     3  0.0
8895  8896         yuxi     2  0.0
8896  8897     zacharea     2  0.0
8897  8898          zan    47  0.0
8898  8899        zarko     6  0.0
8899  8900      zawahri     5  0.0
8900  8901         zeal     3  0.0
8901  8902        zedek     2  0.0
8902  8903         zein     4  0.0
8903  8904         zell     3  0.0
8904  8905        zemin     7  0.0
8905  8906         zero     6  0.0
8906  8907        zinni    18  0.0
8907  8908        zivko     2  0.0
8908  8909       zivkov     2  0.0
8909  8910        zogbi     3  0.0
8910  8911         zone    28  0.0
8911  8912        zoran    20  0.0
8912  8913        zuric     2  0.0

[8913 rows x 4 columns]

In [384]:
tf_list = next(os.walk('../HW2/output/tf-idf/'))[2]
# df_list = [dict_df2]
for tf in tf_list:
#     print(tf)
    df2 = pd.read_csv('../HW2/output/tf-idf/'+tf,header=None,index_col=None,sep=' ',skiprows=[0])
    df2.columns = ['id','tfidf']
    df3 = pd.merge(dict_df2,df2,on='id',how='outer')
    df3.fillna(0,inplace=True)
    dict_df2['sum']+=df3['tfidf']
dict_df2['avg_tfidf'] = dict_df2['sum']/dict_df2['freq']
dict_df2 = dict_df2.drop(['freq','sum'],axis=1)
dict_df2
#     break
#     df_list.append(df2)
# df3 = pd.concat(df_list).groupby(level=0).sum()
# df3 = pd.concat([df3,df2]).groupby(level=0).sum()
# df3 = pd.merge(dict_df2,df2,on='id',how='outer')
# df3 = pd.merge(df3,df2,on='id',how='outer')?
# df3[df3.id == 2]

        id         term  avg_tfidf
0        1      abandon   0.005374
1        2          abc   0.015857
2        3  abcnews.com   0.033696
3        4     abdallah   0.006597
4        5        abdel   0.003924
5        6      abdomin   0.010949
6        7       abduct   0.016260
7        8        abdul   0.000851
8        9  abdul-karim   0.005135
9       10     abdullah   0.006808
10      11       abhorr   0.008349
11      12         abid   0.000591
12      13      abidjan   0.017659
13      14         abil   0.001223
14      15          abl   0.000976
15      16        ablaz   0.006857
16      17       aboard   0.006911
17      18        abobo   0.005802
18      19      abolish   0.006744
19      20        abort   0.012137
20      21         abou   0.000133
21      22       abound   0.007865
22      23      abraham   0.007256
23      24       abroad   0.006570
24      25        abrog   0.003322
25      26       abrupt   0.001282
26      27     abruptli   0.026259
27      28       absenc   0.013634
28      29       absent   0.001582
29      30      absente   0.005075
...    ...          ...        ...
8883  8884        young   0.004997
8884  8885      younger   0.004907
8885  8886     youngest   0.006362
8886  8887    youngster   0.005772
8887  8888        youth   0.005203
8888  8889      youzhni   0.007629
8889  8890          yu-   0.004758
8890  8891          yug   0.000041
8891  8892     yugoslav   0.004176
8892  8893   yugoslavia   0.011578
8893  8894  yugoslavian   0.011594
8894  8895         yuri   0.018397
8895  8896         yuxi   0.010819
8896  8897     zacharea   0.017215
8897  8898          zan   0.000147
8898  8899        zarko   0.006044
8899  8900      zawahri   0.002351
8900  8901         zeal   0.000789
8901  8902        zedek   0.007111
8902  8903         zein   0.006555
8903  8904         zell   0.003836
8904  8905        zemin   0.006830
8905  8906         zero   0.019958
8906  8907        zinni   0.023997
8907  8908        zivko   0.002301
8908  8909       zivkov   0.006340
8909  8910        zogbi   0.009333
8910  8911         zone   0.005806
8911  8912        zoran   0.005915
8912  8913        zuric   0.005658

[8913 rows x 3 columns]

In [385]:
dict_df['term'] = dict_df.index
dict_df3 = pd.merge(dict_df,dict_df2,on='term',how='outer')
dict_df3

/home/leoqaz12/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2961: FutureWarning: 'term' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

          score     score_chi     score_emi         term    id  avg_tfidf
0      1.659552  3.846051e+00  2.913791e-03      abandon     1   0.005374
1      0.899990  1.555876e+00  1.580176e-03          abc     2   0.015857
2      0.204845  6.544514e-01  3.596454e-04  abcnews.com     3   0.033696
3      0.274067  5.290393e-01  4.811811e-04     abdallah     4   0.006597
4      0.411467  7.944005e-01  7.224236e-04        abdel     5   0.003924
5      0.274067  5.290393e-01  4.811811e-04      abdomin     6   0.010949
6      0.160386  3.668540e-01  2.815866e-04       abduct     7   0.016260
7      0.464110  9.267195e-01  8.148566e-04        abdul     8   0.000851
8      1.519594  2.937724e+00  2.668045e-03  abdul-karim     9   0.005135
9      5.383307  1.045027e+01  9.451857e-03     abdullah    10   0.006808
10     0.599975  4.723560e+00  1.053402e-03       abhorr    11   0.008349
11     0.378774  8.999763e-01  6.650296e-04         abid    12   0.000591
12    10.299234  5.488540e+01  1.808312e-02      abidjan    13   0.017659
13     0.976184  2.298259e+00  1.713953e-03         abil    14   0.001223
14     0.970499  1.925329e+00  1.703978e-03          abl    15   0.000976
15     0.293008  1.039403e+00  5.144410e-04        ablaz    16   0.006857
16     6.593954  1.392154e+01  1.157749e-02       aboard    17   0.006911
17     0.812945  4.683628e+00  1.427329e-03        abobo    18   0.005802
18     0.577250  1.702640e+00  1.013504e-03      abolish    19   0.006744
19     0.677678  2.420350e+00  1.189835e-03        abort    20   0.012137
20     0.269511  1.557905e+00  4.731823e-04         abou    21   0.000133
21     0.360321  7.431483e-01  6.326256e-04       abound    22   0.007865
22     1.472125  6.706604e+00  2.584704e-03      abraham    23   0.007256
23     2.623727  7.390832e+00  4.606668e-03       abroad    24   0.006570
24     0.000000  7.117401e-08  2.183305e-09        abrog    25   0.003322
25     0.249705  1.181549e+00  4.384079e-04       abrupt    26   0.001282
26     0.253273  1.241571e+00  4.446725e-04     abruptli    27   0.026259
27     0.600643  2.259850e+00  1.054579e-03       absenc    28   0.013634
28     0.361637  1.007732e+00  6.349385e-04       absent    29   0.001582
29     1.352649  5.783335e+00  2.374932e-03      absente    30   0.005075
...         ...           ...           ...          ...   ...        ...
8883   2.752543  8.000081e+00  4.832844e-03        young  8884   0.004997
8884   1.514666  4.640895e+00  2.659406e-03      younger  8885   0.004907
8885   0.521708  1.384703e+00  9.159885e-04     youngest  8886   0.006362
8886   0.270136  8.087003e-01  4.742826e-04    youngster  8887   0.005772
8887   0.659291  1.574781e+00  1.157561e-03        youth  8888   0.005203
8888   0.491417  2.222285e+00  8.627988e-04      youzhni  8889   0.007629
8889   0.418265  1.354611e+00  7.343599e-04          yu-  8890   0.004758
8890   0.000000  7.117401e-08  2.183305e-09          yug  8891   0.000041
8891  15.820595  4.948838e+01  2.777740e-02     yugoslav  8892   0.004176
8892  21.768024  6.407368e+01  3.821976e-02   yugoslavia  8893   0.011578
8893   1.814555  5.200910e+00  3.185933e-03  yugoslavian  8894   0.011594
8894   0.507739  2.049276e+00  8.914598e-04         yuri  8895   0.018397
8895   0.418265  1.354611e+00  7.343599e-04         yuxi  8896   0.010819
8896   0.507705  2.485772e+00  8.913961e-04     zacharea  8897   0.017215
8897   0.540482  3.119111e+00  9.489453e-04          zan  8898   0.000147
8898   1.262433  4.081127e+00  2.216529e-03        zarko  8899   0.006044
8899   0.411467  7.944005e-01  7.224236e-04      zawahri  8900   0.002351
8900   0.136912  2.642397e-01  2.403682e-04         zeal  8901   0.000789
8901   0.000000  7.117401e-08  2.183305e-09        zedek  8902   0.007111
8902   0.549112  1.060325e+00  9.640973e-04         zein  8903   0.006555
8903   0.738692  3.336962e+00  1.296958e-03         zell  8904   0.003836
8904   1.228378  5.883284e+00  2.156738e-03        zemin  8905   0.006830
8905   0.355899  8.665818e-01  6.248644e-04         zero  8906   0.019958
8906   2.502540  4.843446e+00  4.393877e-03        zinni  8907   0.023997
8907   0.208819  6.765889e-01  3.666214e-04        zivko  8908   0.002301
8908   0.418265  1.354611e+00  7.343599e-04       zivkov  8909   0.006340
8909   0.738692  3.336962e+00  1.296958e-03        zogbi  8910   0.009333
8910   2.180161  7.458516e+00  3.827861e-03         zone  8911   0.005806
8911   4.080964  1.310480e+01  7.165236e-03        zoran  8912   0.005915
8912   0.208819  6.765889e-01  3.666214e-04        zuric  8913   0.005658

[8913 rows x 6 columns]

In [386]:
cols = list(dict_df3)
cols[4], cols[3], cols[5], cols[1], cols[0], cols[2] = cols[0], cols[1] , cols[2] , cols[3], cols[4], cols[5]
dict_df3 = dict_df3.ix[:,cols]
dict_df3

/home/leoqaz12/.local/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()

        id         term  avg_tfidf     score_chi      score     score_emi
0        1      abandon   0.005374  3.846051e+00   1.659552  2.913791e-03
1        2          abc   0.015857  1.555876e+00   0.899990  1.580176e-03
2        3  abcnews.com   0.033696  6.544514e-01   0.204845  3.596454e-04
3        4     abdallah   0.006597  5.290393e-01   0.274067  4.811811e-04
4        5        abdel   0.003924  7.944005e-01   0.411467  7.224236e-04
5        6      abdomin   0.010949  5.290393e-01   0.274067  4.811811e-04
6        7       abduct   0.016260  3.668540e-01   0.160386  2.815866e-04
7        8        abdul   0.000851  9.267195e-01   0.464110  8.148566e-04
8        9  abdul-karim   0.005135  2.937724e+00   1.519594  2.668045e-03
9       10     abdullah   0.006808  1.045027e+01   5.383307  9.451857e-03
10      11       abhorr   0.008349  4.723560e+00   0.599975  1.053402e-03
11      12         abid   0.000591  8.999763e-01   0.378774  6.650296e-04
12      13      abidjan   0.017659  5.488540e+01  10.299234  1.808312e-02
13      14         abil   0.001223  2.298259e+00   0.976184  1.713953e-03
14      15          abl   0.000976  1.925329e+00   0.970499  1.703978e-03
15      16        ablaz   0.006857  1.039403e+00   0.293008  5.144410e-04
16      17       aboard   0.006911  1.392154e+01   6.593954  1.157749e-02
17      18        abobo   0.005802  4.683628e+00   0.812945  1.427329e-03
18      19      abolish   0.006744  1.702640e+00   0.577250  1.013504e-03
19      20        abort   0.012137  2.420350e+00   0.677678  1.189835e-03
20      21         abou   0.000133  1.557905e+00   0.269511  4.731823e-04
21      22       abound   0.007865  7.431483e-01   0.360321  6.326256e-04
22      23      abraham   0.007256  6.706604e+00   1.472125  2.584704e-03
23      24       abroad   0.006570  7.390832e+00   2.623727  4.606668e-03
24      25        abrog   0.003322  7.117401e-08   0.000000  2.183305e-09
25      26       abrupt   0.001282  1.181549e+00   0.249705  4.384079e-04
26      27     abruptli   0.026259  1.241571e+00   0.253273  4.446725e-04
27      28       absenc   0.013634  2.259850e+00   0.600643  1.054579e-03
28      29       absent   0.001582  1.007732e+00   0.361637  6.349385e-04
29      30      absente   0.005075  5.783335e+00   1.352649  2.374932e-03
...    ...          ...        ...           ...        ...           ...
8883  8884        young   0.004997  8.000081e+00   2.752543  4.832844e-03
8884  8885      younger   0.004907  4.640895e+00   1.514666  2.659406e-03
8885  8886     youngest   0.006362  1.384703e+00   0.521708  9.159885e-04
8886  8887    youngster   0.005772  8.087003e-01   0.270136  4.742826e-04
8887  8888        youth   0.005203  1.574781e+00   0.659291  1.157561e-03
8888  8889      youzhni   0.007629  2.222285e+00   0.491417  8.627988e-04
8889  8890          yu-   0.004758  1.354611e+00   0.418265  7.343599e-04
8890  8891          yug   0.000041  7.117401e-08   0.000000  2.183305e-09
8891  8892     yugoslav   0.004176  4.948838e+01  15.820595  2.777740e-02
8892  8893   yugoslavia   0.011578  6.407368e+01  21.768024  3.821976e-02
8893  8894  yugoslavian   0.011594  5.200910e+00   1.814555  3.185933e-03
8894  8895         yuri   0.018397  2.049276e+00   0.507739  8.914598e-04
8895  8896         yuxi   0.010819  1.354611e+00   0.418265  7.343599e-04
8896  8897     zacharea   0.017215  2.485772e+00   0.507705  8.913961e-04
8897  8898          zan   0.000147  3.119111e+00   0.540482  9.489453e-04
8898  8899        zarko   0.006044  4.081127e+00   1.262433  2.216529e-03
8899  8900      zawahri   0.002351  7.944005e-01   0.411467  7.224236e-04
8900  8901         zeal   0.000789  2.642397e-01   0.136912  2.403682e-04
8901  8902        zedek   0.007111  7.117401e-08   0.000000  2.183305e-09
8902  8903         zein   0.006555  1.060325e+00   0.549112  9.640973e-04
8903  8904         zell   0.003836  3.336962e+00   0.738692  1.296958e-03
8904  8905        zemin   0.006830  5.883284e+00   1.228378  2.156738e-03
8905  8906         zero   0.019958  8.665818e-01   0.355899  6.248644e-04
8906  8907        zinni   0.023997  4.843446e+00   2.502540  4.393877e-03
8907  8908        zivko   0.002301  6.765889e-01   0.208819  3.666214e-04
8908  8909       zivkov   0.006340  1.354611e+00   0.418265  7.343599e-04
8909  8910        zogbi   0.009333  3.336962e+00   0.738692  1.296958e-03
8910  8911         zone   0.005806  7.458516e+00   2.180161  3.827861e-03
8911  8912        zoran   0.005915  1.310480e+01   4.080964  7.165236e-03
8912  8913        zuric   0.005658  6.765889e-01   0.208819  3.666214e-04

[8913 rows x 6 columns]

In [387]:
dict_df3.columns = ['id','term','avg_tfidf','score_chi','score_llr','score_emi']
dict_df3.to_csv('output/feature_selection_df_rev.csv')

### select top 500
* 取各col的mean+1.45*std
* 再去做投票，超過兩票的流下來看剩下哪幾個

In [446]:
dict_df3 = pd.read_csv('output/feature_selection_df_rev.csv',index_col=None)
threshold_tfidf = np.mean(dict_df3['avg_tfidf'])+2.5*np.std(dict_df3['avg_tfidf']) #1.45=>502 數字大嚴格
threshold_chi = np.mean(dict_df3['score_chi'])+2.5*np.std(dict_df3['score_chi']) #1=>350
threshold_llr = np.mean(dict_df3['score_llr'])+2.5*np.std(dict_df3['score_llr']) #1.75=>543
threshold_emi = np.mean(dict_df3['score_emi'])+2.5*np.std(dict_df3['score_emi']) #1.75=>543

print('avg_tfidf',threshold_tfidf)
# dict_df3[dict_df3.score_llr>0.1]

avg_tfidf 0.024888109121963365

In [447]:
df1 = dict_df3[dict_df3['avg_tfidf']>threshold_tfidf]
df2 = dict_df3[dict_df3['score_chi']>threshold_chi]
df3 = dict_df3[dict_df3['score_llr']>threshold_llr]
df4 = dict_df3[dict_df3['score_emi']>threshold_emi]
df_vote = dict_df3
df_vote['vote']=0
df_vote

,Unnamed: 0,id,term,avg_tfidf,score_chi,score_llr,score_emi,vote
0,0,1,abandon,0.005374,3.846051e+00,1.659552,2.913791e-03,0
1,1,2,abc,0.015857,1.555876e+00,0.899990,1.580176e-03,0
2,2,3,abcnews.com,0.033696,6.544514e-01,0.204845,3.596454e-04,0
3,3,4,abdallah,0.006597,5.290393e-01,0.274067,4.811811e-04,0
4,4,5,abdel,0.003924,7.944005e-01,0.411467,7.224236e-04,0
5,5,6,abdomin,0.010949,5.290393e-01,0.274067,4.811811e-04,0
6,6,7,abduct,0.016260,3.668540e-01,0.160386,2.815866e-04,0
7,7,8,abdul,0.000851,9.267195e-01,0.464110,8.148566e-04,0
8,8,9,abdul-karim,0.005135,2.937724e+00,1.519594,2.668045e-03,0
9,9,10,abdullah,0.006808,1.045027e+01,5.383307,9.451857e-03,0
10,10,11,abhorr,0.008349,4.723560e+00,0.599975,1.053402e-03,0
11,11,12,abid,0.000591,8.999763e-01,0.378774,6.650296e-04,0
12,12,13,abidjan,0.017659,5.488540e+01,10.299234,1.808312e-02,0
13,13,14,abil,0.001223,2.298259e+00,0.976184,1.713953e-03,0
14,14,15,abl,0.000976,1.925329e+00,0.970499,1.703978e-03,0
15,15,16,ablaz,0.006857,1.039403e+00,0.293008,5.144410e-04,0
16,16,17,aboard,0.006911,1.392154e+01,6.593954,1.157749e-02,0
17,17,18,abobo,0.005802,4.683628e+00,0.812945,1.427329e-03,0
18,18,19,abolish,0.006744,1.702640e+00,0.577250,1.013504e-03,0
19,19,20,abort,0.012137,2.420350e+00,0.677678,1.189835e-03,0
20,20,21,abou,0.000133,1.557905e+00,0.269511,4.731823e-04,0
21,21,22,abound,0.007865,7.431483e-01,0.360321,6.326256e-04,0
22,22,23,abraham,0.007256,6.706604e+00,1.472125,2.584704e-03,0
23,23,24,abroad,0.006570,7.390832e+00,2.623727,4.606668e-03,0
24,24,25,abrog,0.003322,7.117401e-08,0.000000,2.183305e-09,0
25,25,26,abrupt,0.001282,1.181549e+00,0.249705,4.384079e-04,0
26,26,27,abruptli,0.026259,1.241571e+00,0.253273,4.446725e-04,0
27,27,28,absenc,0.013634,2.259850e+00,0.600643,1.054579e-03,0
28,28,29,absent,0.001582,1.007732e+00,0.361637,6.349385e-04,0
29,29,30,absente,0.005075,5.783335e+00,1.352649,2.374932e-03,0
...,...,...,...,...,...,...,...,...
8883,8883,8884,young,0.004997,8.000081e+00,2.752543,4.832844e-03,0
8884,8884,8885,younger,0.004907,4.640895e+00,1.514666,2.659406e-03,0
8885,8885,8886,youngest,0.006362,1.384703e+00,0.521708,9.159885e-04,0
8886,8886,8887,youngster,0.005772,8.087003e-01,0.270136,4.742826e-04,0
8887,8887,8888,youth,0.005203,1.574781e+00,0.659291,1.157561e-03,0
8888,8888,8889,youzhni,0.007629,2.222285e+00,0.491417,8.627988e-04,0
8889,8889,8890,yu-,0.004758,1.354611e+00,0.418265,7.343599e-04,0
8890,8890,8891,yug,0.000041,7.117401e-08,0.000000,2.183305e-09,0
8891,8891,8892,yugoslav,0.004176,4.948838e+01,15.820595,2.777740e-02,0
8892,8892,8893,yugoslavia,0.011578,6.407368e+01,21.768024,3.821976e-02,0
8893,8893,8894,yugoslavian,0.011594,5.200910e+00,1.814555,3.185933e-03,0
8894,8894,8895,yuri,0.018397,2.049276e+00,0.507739,8.914598e-04,0
8895,8895,8896,yuxi,0.010819,1.354611e+00,0.418265,7.343599e-04,0
8896,8896,8897,zacharea,0.017215,2.485772e+00,0.507705,8.913961e-04,0
8897,8897,8898,zan,0.000147,3.119111e+00,0.540482,9.489453e-04,0
8898,8898,8899,zarko,0.006044,4.081127e+00,1.262433,2.216529e-03,0
8899,8899,8900,zawahri,0.002351,7.944005e-01,0.411467,7.224236e-04,0
8900,8900,8901,zeal,0.000789,2.642397e-01,0.136912,2.403682e-04,0
8901,8901,8902,zedek,0.007111,7.117401e-08,0.000000,2.183305e-09,0
8902,8902,8903,zein,0.006555,1.060325e+00,0.549112,9.640973e-04,0
8903,8903,8904,zell,0.003836,3.336962e+00,0.738692,1.296958e-03,0
8904,8904,8905,zemin,0.006830,5.883284e+00,1.228378,2.156738e-03,0
8905,8905,8906,zero,0.019958,8.665818e-01,0.355899,6.248644e-04,0
8906,8906,8907,zinni,0.023997,4.843446e+00,2.502540,4.393877e-03,0
8907,8907,8908,zivko,0.002301,6.765889e-01,0.208819,3.666214e-04,0
8908,8908,8909,zivkov,0.006340,1.354611e+00,0.418265,7.343599e-04,0
8909,8909,8910,zogbi,0.009333,3.336962e+00,0.738692,1.296958e-03,0
8910,8910,8911,zone,0.005806,7.458516e+00,2.180161,3.827861e-03,0
8911,8911,8912,zoran,0.005915,1.310480e+01,4.080964,7.165236e-03,0
8912,8912,8913,zuric,0.005658,6.765889e-01,0.208819,3.666214e-04,0

In [448]:
df_vote.loc[df1.id-1,'vote'] += 1
df_vote.loc[df2.id-1,'vote'] += 1
df_vote.loc[df3.id-1,'vote'] += 1
df_vote.loc[df4.id-1,'vote'] += 1
# df_vote

In [449]:
df_vote_ = df_vote[df_vote.vote>2] #(1,2)=>375 #(1,1)=>422 #(1.6,2)=>482 #(2,2)=>330 #(1,3)=>100
df_vote_ = df_vote_.filter(['id','term','vote'])
df_vote_

        id         term  vote
12      13      abidjan     3
81      82         aden     3
130    131      african     3
134    135   aftershock     3
136    137       agassi     4
202    203      alassan     3
208    209      alberto     3
310    311         andr     3
385    386      appoint     3
396    397        april     3
473    474     ashcroft     3
520    521       attack     3
545    546   australian     3
625    626       ballot     3
651    652       barent     3
694    695         beat     3
721    722      belgrad     3
763    764         bhuj     3
857    858         boat     3
860    861         bodi     3
871    872         bomb     3
881    882         bone     3
955    956        bribe     3
1040  1041         buri     3
1057  1058  businessman     3
1101  1102     campaign     3
1108  1109       cancer     3
1109  1110       candid     3
1131  1132     capriati     4
1155  1156     carnahan     4
...    ...          ...   ...
7237  7238     slobodan     3
7392  7393          spi     3
7414  7415        sport     3
7443  7444          st.     3
7634  7635     submarin     4
7665  7666       suicid     3
7719  7720     survivor     3
7883  7884        tenni     3
7903  7904    terrorist     3
7912  7913         texa     3
8024  8025         titl     3
8045  8046         toll     3
8072  8073      torpedo     3
8086  8087   tournament     3
8447  8448          uss     3
8468  8469     valentin     3
8505  8506         venu     3
8536  8537      vietnam     4
8537  8538    vietnames     3
8582  8583     vladimir     3
8583  8584    vladimiro     3
8591  8592     vojislav     3
8600  8601         vote     3
8751  8752        widow     3
8763  8764          win     3
8767  8768       winner     3
8871  8872        yemen     3
8872  8873       yemeni     3
8891  8892     yugoslav     3
8892  8893   yugoslavia     3

[186 rows x 3 columns]

In [450]:
df_vote_.to_csv('output/500terms_df_rev5.csv')

## Classifier
* 7-fold
* MNB
* BNB
* self-train / co-train
* ens voting (BNB lower weight)
* auto-skleran / auto-keras

REF: http://kenzotakahashi.github.io/naive-bayes-from-scratch-in-python.html

In [451]:
df_vote = pd.read_csv('output/500terms_df_rev5.csv',index_col=False)
terms_li = list(set(df_vote.term.tolist()))

train_X = []
train_Y = []
len(terms_li)

186

In [452]:
with open('data/training.txt','r') as f:
    train_id = f.read().splitlines()
train_dict = {}

for trainid in train_id:
    trainid = trainid.split(' ')
    trainid = list(filter(None, trainid))
    train_dict[trainid[0]] = trainid[1:]
# train_dict #class:doc_id
train_dict = pickle.load(open('data/train_dict.pkl','rb'))
in_dir = 'data/IRTM/'
train_dict_ = {}
class_token = []
class_token_dict = {}
train_X = []
train_Y= []
train_ids = []
for c,d in tqdm(train_dict.items()):
    for doc in d:
        train_ids.append(doc)
        trainX = np.array([0]*len(terms_li))
        f = open('data/IRTM/'+doc+'.txt')
        texts = f.read()
        f.close()
        tokens_all = preprocess(texts)
        tokens_all = tokens_all.split(' ')
#         tokens_all = list(filter(None,tokens_all))
        tokens_all = dict(Counter(tokens_all))
        for key,value in tokens_all.items():
            if key in terms_li:
                trainX[terms_li.index(key)] = int(value)
#         trainX = np.array(trainX)
        
#         for token in tokens_all:
#             if token in terms_li:
#                 ind = terms_li.index(token)
#                 trainX[ind]+=1
        train_X.append(trainX)
        train_Y.append(int(c))
        
train_X = np.array(train_X)
train_Y = np.array(train_Y)

#         tokens_all = list(set(filter(None,tokens_all)))
#         class_token.append(tokens_all)
#     class_token_dict[c]=class_token
#     class_token=[]
# len(class_token_dict['1'])
print(train_X.shape , train_Y.shape)

100%|██████████| 13/13 [00:07<00:00,  1.78it/s]

(946, 186) (946,)

In [254]:
#建立term index matrix
tokens_all_class=[]
term_tf_mat=[]
for c,d in tqdm(train_dict.items()):
    for doc in d:
        f = open('data/IRTM/'+doc+'.txt')
        texts = f.read()
        f.close()
        tokens_all = preprocess(texts)
        tokens_all = tokens_all.split(' ')
        tokens_all = list(filter(None,tokens_all))
        tokens_all_class.extend(tokens_all)
    tokens_all = dict(Counter(tokens_all_class))
    term_tf_mat.append(tokens_all)

100%|██████████| 13/13 [00:01<00:00,  6.61it/s]

In [255]:
def train_MNB(train_set=train_dict,term_list=terms_li,term_tf_mat=term_tf_mat):
    prior = np.zeros(len(train_set))
    cond_prob = np.zeros((len(train_set), len(term_list)))
    
    for i,docs in train_set.items(): #13 classes 1~13
        prior[int(i)-1] = len(docs)/len(train_ids) #那個類別的文章有幾個/總共的文章數目 0~12
        token_count=0
        class_tf = np.zeros(len(term_list))
        for idx,term in enumerate(term_list):
            try:
                class_tf[idx] = term_tf_mat[int(i)-1][term]  #term在class的出現次數
            except:
                token_count+=1

        class_tf = class_tf + np.ones(len(term_list)) #smoothing (可改)
        class_tf = class_tf/(sum(class_tf) +token_count) #該class總共的token數(可改)
        cond_prob[int(i)-1] = class_tf #0~12
    return prior, cond_prob

In [256]:
prior,cond_prob = train_MNB()
prior

array([0.07692308, 0.07692308, 0.07692308, 0.07692308, 0.07692308,
       0.07692308, 0.07692308, 0.07692308, 0.07692308, 0.07692308,
       0.07692308, 0.07692308, 0.07692308])

In [257]:
def predict_MNB(test_id,prob=False,prior=prior,cond_prob=cond_prob,term_list=terms_li):
    f = open('data/IRTM/'+str(test_id)+'.txt')
    texts = f.read()
    f.close()
    tokens_all = preprocess(texts)
    tokens_all = tokens_all.split(' ')
    tokens_all = list(filter(None,tokens_all))
    
    class_scores = []
#     score = 0
    for i in range(13):
        score=0
#         print(prior[i])
        score += math.log(prior[i],10)
        for token in tokens_all:
            if token in term_list:
                score += math.log(cond_prob[i][term_list.index(token)])
        class_scores.append(score)
    if prob:
        return np.array(class_scores)
    else:
        return(np.argmax(class_scores)+1)

In [261]:
ans = predict_MNB(20,prob=False) # 17 18 20 21
ans

2

In [235]:
ans=[]
for i in tqdm(range(1095)):
    ans.append(predict_MNB(i+1))

  0%|          | 0/1095 [00:00<?, ?it/s]

ValueError: math domain error

In [232]:
# np.max(ans)
ans

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [80]:
def MNB(input_X,input_Y=None,prior_log_class=None,log_prob_feature=None,train=True,prob=False,smooth=1.0):
    if train:
        sample_num = input_X.shape[0]
        match_data = [[x for x, t in zip(input_X, input_Y) if t == c] for c in np.unique(input_Y)]
        prior_log_class = [np.log(len(i) / sample_num) for i in match_data]
        counts = np.array([np.array(i).sum(axis=0) for i in match_data]) + smooth
        log_prob_feature = np.log(counts / counts.sum(axis=1)[np.newaxis].T)
        return prior_log_class,log_prob_feature
    else:
        probability = [(log_prob_feature * x).sum(axis=1) + prior_log_class for x in input_X]
        if prob:
            return probability
        else:
            ans = np.argmax(probability,axis=1)
            return ans

In [18]:
class BernoulliNB(object):
    def __init__(self, alpha=1.0, binarize=0.0):
        self.alpha = alpha
        self.binarize = binarize
    def _binarize_X(self, X):
        return np.where(X > self.binarize, 1, 0) if self.binarize != None else X
    def fit(self, X, y):
        X = self._binarize_X(X)
        count_sample = X.shape[0]
        separated = [[x for x, t in zip(X, y) if t == c] for c in np.unique(y)]
        self.class_log_prior_ = [np.log(len(i) / count_sample) for i in separated]
        count = np.array([np.array(i).sum(axis=0) for i in separated]) + self.alpha
        smoothing = 2 * self.alpha
        n_doc = np.array([len(i) + smoothing for i in separated])
        self.feature_prob_ = count / n_doc[np.newaxis].T
        return self

    def predict_log_proba(self, X):
        X = self._binarize_X(X)
        return [(np.log(self.feature_prob_) * x + \
                 np.log(1 - self.feature_prob_) * np.abs(x - 1)
                ).sum(axis=1) + self.class_log_prior_ for x in X]

    def predict(self, X):
        X = self._binarize_X(X)
        return np.argmax(self.predict_log_proba(X), axis=1)

In [296]:
X = np.array([
    [2,1,0,0,0,0],
    [2,0,1,0,0,0],
    [1,0,0,1,0,0],
    [1,0,0,0,1,1]
])
y = np.array([0,1,2,3])
nb = BernoulliNB().fit(X, y)
X_test = np.array([[3,0,0,0,1,1],[0,1,1,0,1,1],[1,0,0,0,1,1],[2,1,0,0,0,0],[2,0,1,0,0,0],[1,0,0,1,0,0]])
print(nb.predict_log_proba(X_test))

[array([-9.07658038, -9.07658038, -9.70406053, -8.90668135]), array([-9.48204549, -9.48204549, -9.70406053, -8.78889831]), array([-6.8793558 , -6.8793558 , -6.93147181, -5.89852655]), array([-5.08759634, -5.78074352, -6.23832463, -6.59167373]), array([-5.78074352, -5.08759634, -6.23832463, -6.59167373]), array([-4.68213123, -4.68213123, -4.15888308, -5.08759634])]

### Prediction

In [453]:
df_vote = pd.read_csv('output/500terms_df_rev5.csv',index_col=False)
terms_li = list(set(df_vote.term.tolist()))
len(terms_li)

186

In [263]:
with open('data/training.txt','r') as f:
    train_id = f.read().splitlines()
train_dict = {}
test_id = []
train_ids=[]
for trainid in train_id:
    trainid = trainid.split(' ')
    trainid = list(filter(None, trainid))
    train_ids.extend(trainid[1:])
for i in range(1095):
    if str(i+1) not in train_ids:
        test_id.append(i+1)
ans=[]
for doc in tqdm(test_id):
    ans.append(predict_MNB(doc))
print(ans)
df_ans = pd.DataFrame(list(zip(test_id,ans)),columns=['id','Value'])
df_ans.to_csv('output/MNB.csv',index=False)
df_ans

100%|██████████| 900/900 [00:20<00:00, 43.87it/s]

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 13,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 4,
 3,
 3,
 4,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 13,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 13,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 12,
 13,
 13,
 2,
 2,
 10,
 2,
 2,
 13,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 9,
 11,
 9,
 9,
 13,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 9,
 13,
 9,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 13,
 9,
 9,
 13,
 9,
 10,
 9,
 2,
 9,
 9,
 13,
 9,
 9,
 13,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 13,
 11,
 13,
 11,
 9,
 13,
 9,
 11,
 9,
 9,
 9,
 9,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 2,
 9,
 9,
 9,
 9,
 9,
 2,
 9,
 9,
 9,
 9,
 9,
 13,
 13,
 13,
 9,
 9,
 9,
 9,
 11,
 9,
 9,
 2,
 9,
 9,
 11,
 11,
 9,
 9,
 9,
 10,
 9,
 11,
 9,
 9,
 13,
 9,
 9,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 13,
 9,
 9,
 9,
 11,
 9,
 1,
 11,
 9,
 9,
 11,
 9,
 9,
 11,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 11,
 9,
 9,
 9,
 11,
 9,
 9,
 10,
 9,
 10,
 11,
 10,
 9,
 9,
 10,
 12,
 12,
 11,
 9,
 9,
 11,
 10,
 9,
 11,
 9,
 10,
 13,
 1,
 10,
 9,
 10,
 9,
 10,
 11,
 9,
 10,
 9,
 9,
 9,
 1,
 10,
 10,
 1,
 9,
 9,
 11,
 10,
 1,
 12,
 9,
 10,
 1,
 10,
 1,
 1,
 9,
 1,
 9,
 1,
 1,
 11,
 10,
 10,
 10,
 10,
 10,
 1,
 12,
 9,
 1,
 1,
 10,
 10,
 1,
 11,
 9,
 10,
 9,
 9,
 13,
 9,
 11,
 9,
 9,
 11,
 9,
 9,
 1,
 13,
 10,
 1,
 1,
 10,
 1,
 2,
 9,
 13,
 1,
 13,
 1,
 9,
 10,
 9,
 1,
 10,
 9,
 11,
 10,
 10,
 10,
 11,
 1,
 9,
 9,
 9,
 9,
 1,
 9,
 9,
 11,
 10,
 10,
 9,
 9,
 9,
 1,
 9,
 9,
 9,
 1,
 9,
 1,
 1,
 10,
 9,
 11,
 11,
 13,
 9,
 9,
 1,
 1,
 9,
 1,
 12,
 1,
 11,
 9,
 11,
 11,
 9,
 1,
 13,
 12,
 13,
 12,
 1,
 11,
 13,
 11,
 12,
 12,
 12,
 12,
 13,
 13,
 11,
 13,
 11,
 13,
 13,
 11,
 9,
 9,
 13,
 13,
 11,
 11,
 11,
 9,
 10,
 9,
 9,
 1,
 9,
 10,
 1,
 13,
 13,
 13,
 13,
 13,
 9,
 2,
 9,
 9,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 9,
 9,
 9,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 12,
 13,
 10,
 13,
 13,
 13,
 13,
 13,
 8,
 12,
 13,
 12,
 13,
 12,
 12,
 13,
 13,
 12,
 13,
 13,
 13,
 12,
 13,
 12,
 12,
 13,
 12,
 12,
 10,
 9,
 12,
 9,
 12,
 12,
 9,
 8,
 1,
 13,
 13,
 9,
 12,
 10,
 2,
 2,
 13,
 9,
 13,
 13,
 8,
 13,
 12,
 13,
 8,
 13,
 12,
 9,
 9,
 9,
 2,
 9,
 8,
 13,
 8,
 8,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 2,
 8,
 13,
 8,
 8,
 8,
 8,
 8,
 9,
 8,
 8,
 9,
 8,
 8,
 8,
 9,
 8,
 8,
 8,
 8,
 9,
 13,
 2,
 2,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 13,
 8,
 8,
 2,
 8,
 9,
 2,
 8,
 10,
 11,
 13,
 9,
 13,
 13,
 11,
 13,
 9,
 2,
 8,
 12,
 12,
 13,
 12,
 12,
 10,
 12,
 2,
 9,
 9,
 12,
 12,
 9,
 11,
 9,
 9,
 9,
 9,
 7,
 9,
 7,
 7,
 9,
 9,
 8,
 8,
 9,
 10,
 9,
 9,
 9,
 9,
 11,
 9,
 7,
 9,
 9,
 7,
 9,
 7,
 9,
 9,
 9,
 9,
 7,
 12,
 8,
 7,
 12,
 8,
 9,
 8,
 8,
 7,
 7,
 7,
 7,
 9,
 11,
 1,
 1,
 4,
 11,
 13,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 7,
 5,
 3,
 5,
 5,
 4,
 11,
 13,
 5,
 12,
 7,
 7,
 3,
 3,
 3,
 12,
 5,
 3,
 13,
 3,
 13,
 3,
 3,
 3,
 8,
 6,
 8,
 4,
 6,
 6,
 9,
 3,
 5,
 9,
 6,
 5,
 3,
 6,
 11,
 7,
 5,
 5,
 5,
 5,
 6,
 7,
 3,
 9,
 3,
 5,
 5,
 5,
 5,
 7,
 9,
 13,
 11,
 9,
 7,
 9,
 8,
 9,
 5,
 4,
 3,
 5,
 5,
 5,
 4,
 4,
 5,
 9,
 13,
 13,
 13,
 4,
 13,
 4,
 7,
 4,
 13,
 13,
 13,
 13,
 13,
 4,
 5,
 5,
 8,
 5,
 5,
 4,
 5,
 13,
 5,
 13,
 5,
 7,
 3,
 3,
 8,
 13,
 8,
 5,
 7,
 13,
 7,
 7,
 8,
 5,
 5,
 5,
 5,
 8,
 5,
 7,
 8,
 8,
 7,
 7,
 7,
 9,
 7,
 5,
 5,
 5,
 5,
 8,
 7,
 11,
 8,
 5,
 8,
 5,
 7,
 13,
 5,
 7,
 7,
 9,
 5,
 13,
 5,
 6,
 13,
 9,
 5,
 13,
 8,
 4,
 5,
 5,
 13,
 5,
 5,
 5,
 13,
 5,
 13,
 5,
 6,
 5,
 13,
 6,
 7,
 7,
 5,
 6,
 6,
 5,
 6,
 6,
 8,
 6,
 13,
 6,
 13,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 5,
 6,
 6,
 6,
 9,
 13,
 5,
 8,
 6,
 6,
 7,
 6,
 6,
 5,
 6,
 5,
 5,
 13,
 3,
 6,
 13,
 13,
 6,
 10,
 6,
 6,
 13,
 6,
 6,
 13,
 13,
 11,
 12,
 11,
 6,
 9,
 6,
 6,
 13,
 6,
 6,
 6,
 6,
 9,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 10]

combine all prediction df

In [458]:
import os
in_dir = './output/'
prefixed = [filename for filename in os.listdir('./output/') if filename.endswith("_sk.csv")]
df_from_each_file = [pd.read_csv(in_dir+f) for f in prefixed]
prefixed

['MNB02_sk.csv',
 'BNB01_sk.csv',
 'MNB01_sk.csv',
 'MNB05_sk.csv',
 'MNB04_sk.csv',
 'BNB03_sk.csv',
 'MNB03_sk.csv',
 'BNB04_sk.csv',
 'BNB02_sk.csv']

In [459]:
merged_df = functools.reduce(lambda left,right: pd.merge(left,right,on='id'), df_from_each_file)
merged_df.columns = ['id',0,1,2,3,4,5,6,7,8]
merged_df

       id   0   1   2   3   4   5   6   7   8
0      17   2   2   2   2   2   2   2   2   2
1      18   2   2   2   2   2   2   2   2   2
2      20   2   2   2   2   2   2   2   2   2
3      21   2   2   2   2   2   2   2   2   2
4      22   2   2   2   2   2   2   2   2   9
5      23   2   2   2   2   2   2   2   2   2
6      24   2   2   2   2   2   2   2   2   2
7      25   2   2   2   2   2   2   2   2   2
8      26   2   2   2   2   2   2   9   2   9
9      27   2   2   2   2   2   2   2   2   2
10     28   2   2   2   2   2   2   2   2   9
11     30   2   2   2   2   2   2   2   2   2
12     32   2   2   2   2   2   2   2   2   9
13     33   2   2   2   2   2   2   2   2   2
14     34   2   2   2   2   2   2   2   2   2
15     35   2   2   2   2   2   2   2   2   2
16     36   2   2   2   2   2   2   2   2   9
17     37   2   2   2   2   2   2   2   2   9
18     38   2   2   2   2   2   2   2   2   2
19     39   2   2   2   2   2   2   2   2   2
20     40   2   2   2   2   2   2   2   2   2
21     41   2   2   2   2   2   2   2   2   9
22     42   2   2   2   2   2   2  11   2   2
23     43   2   2   2   2   2   2   2   2   2
24     45   2   2   2   2   2   2   2   2   2
25     46   2   2   2   2   2   2   2   2   9
26     47   2   2   2   2   2   2   2   2   2
27     48   2   2   2   2   2   2   2   2   2
28     49   2   2   2   2   2   2   2   2   2
29     50   2   2   2   2   2   2   2   2   2
..    ...  ..  ..  ..  ..  ..  ..  ..  ..  ..
870  1066   6   6   6   6   6   6   6   6   6
871  1067   8   9   8   9   9   9   9   9   9
872  1068   6   6   6   6   6   6   6   6   6
873  1069   6   6   6   6   6   6   6   6   9
874  1070   4   4   4   4   4   4   4   4   9
875  1071   6   6   6   6   6   6   6   6   6
876  1072   6   6   6   6   6   6   6   6   6
877  1073   4   4   4   4   4   4   4   4   9
878  1074  13   4   4   4   4   4   4   4   9
879  1075   6   6   6   6   6   6   6   6   6
880  1076  12  12  12  12  12  12  12  12  12
881  1077   6   6   6   6   6   6   6   6   6
882  1078   6   6   6   6   6   6   6   6   6
883  1079   9   9   9   9   9   9   9   9   9
884  1080   6   6   6   6   6   6   6   6   6
885  1081   6   6   6   6   6   6   6   6   6
886  1082   6   6   6   6   6   6   6   6   6
887  1083   6   6   6   6   6   6   6   6   6
888  1084   6   6   6   6   6   6   6   6   6
889  1085   6   6   6   6   6   6   6   6   6
890  1086   6   6   6   6   6   6   6   6   6
891  1087   6   6   6   6   6   6   6   6   6
892  1088   6   6   6   6   6   6   6   6   6
893  1089   6   6   6   6   6   6   6   6   6
894  1090   6   6   6   6   6   6   6   6   6
895  1091   6   6   6   6   6   6   6   6   6
896  1092   6   6   6   6   6   6   6   6   6
897  1093   6   6   6   6   6   6   6   6   6
898  1094   6   6   6   6   6   6   6   6   6
899  1095   9   9   9   9   9   9   9   9   9

[900 rows x 10 columns]

In [477]:
df01 = pd.DataFrame(merged_df.mode(axis=1)[0])
df02 = pd.DataFrame(merged_df['id'])
df_ans = pd.concat([df02,df01],axis=1)
df_ans = df_ans.astype('int')
df_ans.columns = ['id','Value']
df_ans.to_csv('output/voting_rev.csv',index=False)
df_ans

       id  Value
0      17      2
1      18      2
2      20      2
3      21      2
4      22      2
5      23      2
6      24      2
7      25      2
8      26      2
9      27      2
10     28      2
11     30      2
12     32      2
13     33      2
14     34      2
15     35      2
16     36      2
17     37      2
18     38      2
19     39      2
20     40      2
21     41      2
22     42      2
23     43      2
24     45      2
25     46      2
26     47      2
27     48      2
28     49      2
29     50      2
..    ...    ...
870  1066      6
871  1067      9
872  1068      6
873  1069      6
874  1070      4
875  1071      6
876  1072      6
877  1073      4
878  1074      4
879  1075      6
880  1076     12
881  1077      6
882  1078      6
883  1079      9
884  1080      6
885  1081      6
886  1082      6
887  1083      6
888  1084      6
889  1085      6
890  1086      6
891  1087      6
892  1088      6
893  1089      6
894  1090      6
895  1091      6
896  1092      6
897  1093      6
898  1094      6
899  1095      9

[900 rows x 2 columns]

In [359]:
df1 = merged_df[(merged_df[0] == merged_df[1])&(merged_df[2]==merged_df[3])&(merged_df[1]==merged_df[2])]
df1.reset_index(inplace=True,drop=True)
df1['class'] = df1[0]
df1 = df1.filter(['id','class'])
df1

/home/leoqaz12/.local/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

       id  class
0      17      2
1      18      2
2      20      2
3      21      2
4      23      2
5      24      2
6      25      2
7      27      2
8      30      2
9      33      2
10     34      2
11     35      2
12     38      2
13     39      2
14     40      2
15     42      2
16     43      2
17     45      2
18     47      2
19     48      2
20     49      2
21     50      2
22     51      2
23     53      2
24     54      2
25     55      2
26     56      2
27     57      2
28     58      2
29     59      2
..    ...    ...
721  1059      5
722  1060      5
723  1061      4
724  1062      3
725  1063      6
726  1066      6
727  1068      6
728  1071      6
729  1072      6
730  1075      6
731  1076     12
732  1077      6
733  1078      6
734  1079      9
735  1080      6
736  1081      6
737  1082      6
738  1083      6
739  1084      6
740  1085      6
741  1086      6
742  1087      6
743  1088      6
744  1089      6
745  1090      6
746  1091      6
747  1092      6
748  1093      6
749  1094      6
750  1095      9

[751 rows x 2 columns]

In [375]:
df1[df1['class']=='1']

      id class
236  357     1
245  369     1
248  372     1
253  377     1
257  381     1
259  383     1
260  384     1
262  386     1
264  388     1
265  389     1
270  396     1
273  400     1
274  402     1
277  405     1
289  419     1
292  422     1
293  423     1
296  429     1
298  431     1
302  435     1
309  444     1
314  451     1
323  460     1
326  464     1
327  467     1
328  468     1
334  476     1
335  477     1
337  479     1
339  482     1
345  489     1
350  494     1
375  524     1
378  543     1
385  550     1
443  625     1
578  811     1

In [373]:
for i in range(13):
    df1 = df1.astype(str)
    li = df1[df1['class'] == str(i+1)]['id'].tolist()
    train_dict[str(i+1)].extend(li)
train_dict

{'1': ['11',
  '19',
  '29',
  '113',
  '115',
  '169',
  '278',
  '301',
  '316',
  '317',
  '321',
  '324',
  '325',
  '338',
  '341',
  '357',
  '369',
  '372',
  '377',
  '381',
  '383',
  '384',
  '386',
  '388',
  '389',
  '396',
  '400',
  '402',
  '405',
  '419',
  '422',
  '423',
  '429',
  '431',
  '435',
  '444',
  '451',
  '460',
  '464',
  '467',
  '468',
  '476',
  '477',
  '479',
  '482',
  '489',
  '494',
  '524',
  '543',
  '550',
  '625',
  '811'],
 '2': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '20',
  '21',
  '23',
  '24',
  '25',
  '27',
  '30',
  '33',
  '34',
  '35',
  '38',
  '39',
  '40',
  '42',
  '43',
  '45',
  '47',
  '48',
  '49',
  '50',
  '51',
  '53',
  '54',
  '55',
  '56',
  '57',
  '58',
  '59',
  '60',
  '61',
  '62',
  '64',
  '65',
  '66',
  '68',
  '69',
  '71',
  '72',
  '73',
  '74',
  '75',
  '76',
  '77',
  '78',
  '79',
  '80',
  '81',
  '82',
  '84',
  '85',
  '88',
  '89',
  '90',
  '91',
  '93',
  '94',
  '95',
  '96',
  '97',
  '98',
  '99',
  '101',
  '103',
  '105',
  '106',
  '107',
  '108',
  '109',
  '110',
  '111',
  '112',
  '114',
  '116',
  '117',
  '118',
  '119',
  '124',
  '125',
  '126',
  '127',
  '128',
  '226',
  '232',
  '259',
  '632',
  '649',
  '664',
  '688',
  '689',
  '712',
  '729'],
 '3': ['813',
  '817',
  '818',
  '819',
  '820',
  '821',
  '822',
  '824',
  '825',
  '826',
  '828',
  '829',
  '830',
  '832',
  '833',
  '834',
  '838',
  '843',
  '847',
  '850',
  '857',
  '859',
  '862',
  '864',
  '866',
  '867',
  '868',
  '873',
  '876',
  '879',
  '943',
  '944',
  '1062'],
 '4': ['635',
  '680',
  '683',
  '702',
  '704',
  '705',
  '706',
  '708',
  '709',
  '719',
  '720',
  '722',
  '723',
  '724',
  '726',
  '727',
  '814',
  '836',
  '900',
  '908',
  '913',
  '914',
  '916',
  '925',
  '927',
  '930',
  '936',
  '938',
  '984',
  '986',
  '1061'],
 '5': ['646',
  '751',
  '781',
  '794',
  '798',
  '799',
  '801',
  '812',
  '815',
  '823',
  '831',
  '839',
  '840',
  '841',
  '842',
  '846',
  '848',
  '849',
  '853',
  '861',
  '877',
  '880',
  '885',
  '886',
  '887',
  '888',
  '894',
  '895',
  '896',
  '897',
  '898',
  '903',
  '907',
  '910',
  '911',
  '912',
  '915',
  '923',
  '931',
  '934',
  '935',
  '937',
  '939',
  '948',
  '954',
  '955',
  '956',
  '957',
  '968',
  '969',
  '970',
  '971',
  '976',
  '981',
  '985',
  '991',
  '996',
  '997',
  '1010',
  '1018',
  '1021',
  '1026',
  '1032',
  '1057',
  '1059',
  '1060'],
 '6': ['995',
  '998',
  '999',
  '1003',
  '1005',
  '1006',
  '1007',
  '1009',
  '1011',
  '1012',
  '1013',
  '1014',
  '1015',
  '1016',
  '1019',
  '1020',
  '1023',
  '1025',
  '1027',
  '1028',
  '1030',
  '1031',
  '1033',
  '1035',
  '1037',
  '1038',
  '1039',
  '1040',
  '1041',
  '1042',
  '1043',
  '1046',
  '1047',
  '1052',
  '1053',
  '1054',
  '1055',
  '1056',
  '1058',
  '1063',
  '1066',
  '1068',
  '1071',
  '1072',
  '1075',
  '1077',
  '1078',
  '1080',
  '1081',
  '1082',
  '1083',
  '1084',
  '1085',
  '1086',
  '1087',
  '1088',
  '1089',
  '1090',
  '1091',
  '1092',
  '1093',
  '1094'],
 '7': ['700',
  '730',
  '731',
  '732',
  '733',
  '735',
  '740',
  '744',
  '752',
  '754',
  '755',
  '756',
  '757',
  '759',
  '760',
  '764',
  '766',
  '767',
  '770',
  '771',
  '780',
  '784',
  '786',
  '791',
  '795',
  '797',
  '800',
  '802',
  '803',
  '804',
  '805',
  '806',
  '807',
  '855',
  '856',
  '869',
  '884',
  '945',
  '947',
  '949',
  '951',
  '952',
  '953',
  '961',
  '962',
  '963',
  '964',
  '965',
  '967',
  '972',
  '975',
  '977',
  '979',
  '980',
  '982',
  '983',
  '990',
  '993',
  '1051'],
 '8': ['262',
  '296',
  '304',
  '308',
  '337',
  '397',
  '401',
  '443',
  '445',
  '450',
  '466',
  '480',
  '513',
  '533',
  '534',
  '597',
  '624',
  '638',
  '642',
  '651',
  '653',
  '654',
  '657',
  '658',
  '659',
  '660',
  '661',
  '662',
  '663',
  '665',
  '667',
  '668',
  '669',
  '670',
  '673',
  '674',
  '675',
  '676',
  '677',
  '678',
  '681',
  '682',
  '684',
  '685',
  '695',
  '696',
  '697',
  '698',
  '699',
  '701',
  '703',
  '710',
  '713',
  '734',
  '793'],
 '9': ['130',
  '131',
  '132',
  '133',
  '134',
  '135',
  '136',
  '137',
  '138',
  '139',
  '140',
  '141',
  '142',
  '143',
  '145',
  '144',
  '146',
  '147',
  '148',
  '150',
  '151',
  '152',
  '153',
  '154',
  '155',
  '157',
  '158',
  '159',
  '160',
  '161',
  '162',
  '163',
  '164',
  '165',
  '166',
  '167',
  '168',
  '170',
  '171',
  '172',
  '173',
  '174',
  '175',
  '178',
  '180',
  '181',
  '182',
  '184',
  '185',
  '186',
  '187',
  '188',
  '190',
  '191',
  '192',
  '193',
  '194',
  '195',
  '196',
  '197',
  '198',
  '199',
  '200',
  '201',
  '202',
  '203',
  '206',
  '207',
  '208',
  '210',
  '211',
  '212',
  '213',
  '215',
  '216',
  '217',
  '218',
  '219',
  '221',
  '223',
  '224',
  '225',
  '227',
  '228',
  '229',
  '230',
  '231',
  '233',
  '235',
  '236',
  '238',
  '242',
  '246',
  '247',
  '249',
  '251',
  '252',
  '253',
  '257',
  '261',
  '263',
  '264',
  '265',
  '266',
  '267',
  '268',
  '269',
  '270',
  '272',
  '273',
  '274',
  '276',
  '277',
  '280',
  '281',
  '282',
  '283',
  '284',
  '285',
  '286',
  '287',
  '288',
  '289',
  '290',
  '291',
  '292',
  '293',
  '298',
  '299',
  '302',
  '303',
  '307',
  '310',
  '311',
  '313',
  '314',
  '318',
  '323',
  '329',
  '330',
  '332',
  '333',
  '335',
  '336',
  '343',
  '348',
  '349',
  '352',
  '354',
  '356',
  '361',
  '364',
  '366',
  '367',
  '373',
  '374',
  '378',
  '379',
  '385',
  '387',
  '399',
  '407',
  '409',
  '410',
  '414',
  '415',
  '417',
  '418',
  '420',
  '427',
  '428',
  '430',
  '432',
  '434',
  '437',
  '446',
  '447',
  '448',
  '449',
  '452',
  '453',
  '455',
  '456',
  '457',
  '458',
  '459',
  '461',
  '462',
  '469',
  '470',
  '474',
  '478',
  '484',
  '486',
  '488',
  '510',
  '511',
  '518',
  '521',
  '522',
  '525',
  '549',
  '551',
  '552',
  '560',
  '561',
  '562',
  '617',
  '618',
  '620',
  '623',
  '628',
  '630',
  '634',
  '645',
  '650',
  '655',
  '666',
  '672',
  '679',
  '686',
  '690',
  '691',
  '694',
  '711',
  '714',
  '716',
  '717',
  '742',
  '746',
  '747',
  '750',
  '761',
  '762',
  '763',
  '765',
  '768',
  '769',
  '772',
  '773',
  '775',
  '776',
  '777',
  '778',
  '779',
  '782',
  '783',
  '785',
  '787',
  '789',
  '790',
  '808',
  '875',
  '899',
  '901',
  '902',
  '906',
  '1079',
  '1095'],
 '10': ['31',
  '44',
  '70',
  '83',
  '86',
  '92',
  '100',
  '102',
  '305',
  '309',
  '315',
  '320',
  '326',
  '327',
  '328',
  '331',
  '334',
  '340',
  '344',
  '345',
  '351',
  '355',
  '360',
  '362',
  '365',
  '370',
  '371',
  '375',
  '376',
  '380',
  '382',
  '392',
  '393',
  '394',
  '395',
  '398',
  '403',
  '404',
  '408',
  '421',
  '433',
  '436',
  '440',
  '441',
  '519',
  '528',
  '591'],
 '11': ['240',
  '241',
  '243',
  '244',
  '245',
  '248',
  '250',
  '254',
  '255',
  '256',
  '258',
  '260',
  '275',
  '279',
  '295',
  '297',
  '300',
  '306',
  '339',
  '346',
  '347',
  '350',
  '353',
  '363',
  '406',
  '413',
  '416',
  '438',
  '442',
  '454',
  '472',
  '473',
  '481',
  '483',
  '487',
  '490',
  '491',
  '492',
  '493',
  '495',
  '497',
  '498',
  '499',
  '500',
  '501',
  '502',
  '503',
  '504',
  '505',
  '506',
  '507',
  '508',
  '509',
  '512',
  '515',
  '516',
  '517',
  '652',
  '715',
  '721',
  '725',
  '749',
  '753',
  '809',
  '816',
  '883'],
 '12': ['535',
  '542',
  '571',
  '573',
  '574',
  '575',
  '576',
  '578',
  '581',
  '582',
  '583',
  '584',
  '585',
  '586',
  '588',
  '589',
  '598',
  '599',
  '600',
  '601',
  '602',
  '603',
  '604',
  '605',
  '606',
  '607',
  '608',
  '609',
  '610',
  '611',
  '612',
  '613',
  '614',
  '615',
  '616',
  '619',
  '621',
  '622',
  '626',
  '629',
  '633',
  '636',
  '637',
  '639',
  '640',
  '643',
  '644',
  '687',
  '736',
  '737',
  '739',
  '741',
  '743',
  '748',
  '792',
  '796',
  '827',
  '854',
  '860',
  '1034',
  '1036',
  '1076'],
 '13': ['485',
  '520',
  '523',
  '526',
  '527',
  '529',
  '530',
  '531',
  '532',
  '536',
  '537',
  '538',
  '539',
  '540',
  '541',
  '544',
  '545',
  '546',
  '547',
  '548',
  '553',
  '554',
  '555',
  '556',
  '559',
  '563',
  '564',
  '565',
  '566',
  '567',
  '568',
  '569',
  '572',
  '577',
  '579',
  '580',
  '590',
  '592',
  '593',
  '594',
  '595',
  '596',
  '627',
  '641',
  '718',
  '738']}

In [377]:
pickle.dump(obj=train_dict,file=open('data/train_dict.pkl','wb'))

In [372]:
with open('data/training.txt','r') as f:
    train_id = f.read().splitlines()
train_dict = {}
for trainid in train_id:
    trainid = trainid.split(' ')
    trainid = list(filter(None, trainid))
    train_dict[trainid[0]] = trainid[1:]
train_dict #class:doc_id

{'1': ['11',
  '19',
  '29',
  '113',
  '115',
  '169',
  '278',
  '301',
  '316',
  '317',
  '321',
  '324',
  '325',
  '338',
  '341'],
 '2': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '12',
  '13',
  '14',
  '15',
  '16'],
 '3': ['813',
  '817',
  '818',
  '819',
  '820',
  '821',
  '822',
  '824',
  '825',
  '826',
  '828',
  '829',
  '830',
  '832',
  '833'],
 '4': ['635',
  '680',
  '683',
  '702',
  '704',
  '705',
  '706',
  '708',
  '709',
  '719',
  '720',
  '722',
  '723',
  '724',
  '726'],
 '5': ['646',
  '751',
  '781',
  '794',
  '798',
  '799',
  '801',
  '812',
  '815',
  '823',
  '831',
  '839',
  '840',
  '841',
  '842'],
 '6': ['995',
  '998',
  '999',
  '1003',
  '1005',
  '1006',
  '1007',
  '1009',
  '1011',
  '1012',
  '1013',
  '1014',
  '1015',
  '1016',
  '1019'],
 '7': ['700',
  '730',
  '731',
  '732',
  '733',
  '735',
  '740',
  '744',
  '752',
  '754',
  '755',
  '756',
  '757',
  '759',
  '760'],
 '8': ['262',
  '296',
  '304',
  '308',
  '337',
  '397',
  '401',
  '443',
  '445',
  '450',
  '466',
  '480',
  '513',
  '533',
  '534'],
 '9': ['130',
  '131',
  '132',
  '133',
  '134',
  '135',
  '136',
  '137',
  '138',
  '139',
  '140',
  '141',
  '142',
  '143',
  '145'],
 '10': ['31',
  '44',
  '70',
  '83',
  '86',
  '92',
  '100',
  '102',
  '305',
  '309',
  '315',
  '320',
  '326',
  '327',
  '328'],
 '11': ['240',
  '241',
  '243',
  '244',
  '245',
  '248',
  '250',
  '254',
  '255',
  '256',
  '258',
  '260',
  '275',
  '279',
  '295'],
 '12': ['535',
  '542',
  '571',
  '573',
  '574',
  '575',
  '576',
  '578',
  '581',
  '582',
  '583',
  '584',
  '585',
  '586',
  '588'],
 '13': ['485',
  '520',
  '523',
  '526',
  '527',
  '529',
  '530',
  '531',
  '532',
  '536',
  '537',
  '538',
  '539',
  '540',
  '541']}

In [328]:
df_from_each_file = [pd.read_csv(in_dir+f) for f in prefixed]
# concatenated_df   = pd.concat(df_from_each_file,axis=1,join='inner')
concatenated_df   = pd.DataFrame.join(df_from_each_file,on='id')
concatenated_df

TypeError: join() missing 1 required positional argument: 'other'

In [319]:
df1 = pd.read_csv(in_dir+prefixed[0])
df2 = pd.read_csv(in_dir+prefixed[1])
pd.merge(df1,df2,on='id',how='inner')

TypeError: merge() missing 1 required positional argument: 'right'

In [454]:
with open('data/training.txt','r') as f:
    train_id = f.read().splitlines()
train_dict = {}
test_id = []
train_ids=[]
for trainid in train_id:
    trainid = trainid.split(' ')
    trainid = list(filter(None, trainid))
    train_ids.extend(trainid[1:])
for i in range(1095):
    if str(i+1) not in train_ids:
        test_id.append(i+1)
#     train_dict[trainid[0]] = trainid[1:]
# train_dict #class:doc_id
in_dir = 'data/IRTM/'
train_dict_ = {}
class_token = []
class_token_dict = {}
test_X = []
# train_Y= []
# for c,d in tqdm(train_dict.items()):
for doc in tqdm(test_id):
    testX = np.array([0]*len(terms_li))
    f = open('data/IRTM/'+str(doc)+'.txt')
    texts = f.read()
    f.close()
    tokens_all = preprocess(texts)
    tokens_all = tokens_all.split(' ')
#         tokens_all = list(filter(None,tokens_all))
    tokens_all = dict(Counter(tokens_all))
    for key,value in tokens_all.items():
        if key in terms_li:
            testX[terms_li.index(key)] = int(value)

    test_X.append(testX)
        
test_X = np.array(test_X)
print(test_X.shape)

100%|██████████| 900/900 [00:06<00:00, 131.03it/s]

(900, 186)

In [113]:
df_ans = pd.DataFrame(list(zip(test_id,ans2)),columns=['id','Value'])
df_ans.to_csv('output/MNB02_sk.csv',index=False)
df_ans

       id  Value
0      17      2
1      18      2
2      20      2
3      21      2
4      22      2
5      23      2
6      24      2
7      25      2
8      26      2
9      27      2
10     28      2
11     30      2
12     32      2
13     33      2
14     34      2
15     35      2
16     36      2
17     37      2
18     38      2
19     39      2
20     40      2
21     41      2
22     42      2
23     43      2
24     45      2
25     46      2
26     47      2
27     48      2
28     49      2
29     50      2
..    ...    ...
870  1066      6
871  1067      8
872  1068      6
873  1069      6
874  1070      4
875  1071      6
876  1072      6
877  1073      4
878  1074     13
879  1075      6
880  1076     12
881  1077      6
882  1078      6
883  1079      9
884  1080      6
885  1081      6
886  1082      6
887  1083      6
888  1084      6
889  1085      6
890  1086      6
891  1087      6
892  1088      6
893  1089      6
894  1090      6
895  1091      6
896  1092      6
897  1093      6
898  1094      6
899  1095      9

[900 rows x 2 columns]

In [127]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [291]:
from sklearn.naive_bayes import *
clf = MultinomialNB()
clf.fit(train_X, train_Y)
ans2 = clf.predict(test_X)
ans2

array([ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2, 11,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2, 11,  2,  2,  2,  2,  2, 13,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  2,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,  9,  9,  9,  9,  9,
        2,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,
        9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  1, 11,  9,  9, 11,
        9,  9, 11,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 10,  9,
        9, 10,  9,  9, 11, 10,  9,  9, 10, 10, 11, 11,  9,  9, 11, 10,  9,
       11,  9, 10,  9,  1, 10,  9, 10,  9, 10, 11,  9, 10,  9,  9,  9,  1,
       10, 10,  1,  9,  9, 10, 10,  1,  9,  9, 10,  1, 10,  1,  1,  9,  1,
        9,  1,  1,  9, 10, 10, 10, 10, 10,  1, 10,  9,  1,  1, 10, 10,  1,
       11,  9, 10,  9,  9,  9,  9, 11,  9,  9, 11,  9,  9,  1,  9, 10,  1,
        1, 10,  1,  1,  9,  9,  1,  9,  1,  9, 10,  9,  1, 10,  9, 11, 10,
       10, 10, 11,  1,  9,  9,  9,  9,  1,  9,  9, 11,  9,  9,  9,  9,  9,
        1,  9,  9,  9,  1,  9,  1,  1,  9,  9,  9, 11, 11,  9,  9,  1,  1,
        9,  1, 11,  1, 11,  9,  9, 11,  9,  1, 11, 11, 11, 11,  1, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  9,  9, 11, 11,
       11, 11, 11,  9, 10,  9,  9,  1,  9, 10,  1, 13, 13, 13, 13, 13,  9,
        1,  9,  9, 13, 13, 13, 13, 13, 13, 13,  9,  9,  9, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 13, 10, 13, 13, 13, 13, 13,
        8, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12,  9,  9, 12,  9, 12, 12,  9,  8,  1, 12, 13,  9, 12,  9,
        2,  2, 12,  9, 12, 12,  8, 12, 12, 13,  8, 12, 12,  9,  9,  8,  2,
        9,  8, 11,  8,  8,  9,  9,  8,  8,  8,  8,  8,  8,  8,  2,  8,  9,
        8,  8,  8,  8,  8,  9,  8,  8,  8,  8,  8,  8,  9,  8,  8,  8,  8,
        9, 12,  2,  2,  9,  9,  9,  9,  9,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  9,  2,  8,  9, 11,  9,  9, 13, 11, 11,  4,  9,  2,  8, 12, 12,
       13, 12, 12,  9, 12,  1,  9,  9, 12, 11,  9, 11,  9,  9,  9,  9,  7,
        9,  7,  7,  9,  9,  7,  7,  9,  9,  7,  9,  9,  9,  9,  9,  7,  9,
        9,  7,  9,  7,  9,  9,  9,  9,  7, 12,  8,  7, 12,  7,  7,  7,  7,
        7,  7,  7,  7,  9, 11,  1,  1,  4, 11, 12,  3,  3,  4,  3,  3,  3,
        3,  5,  5,  3,  5,  5,  3,  3,  4,  5, 12,  7,  7,  3,  3,  3, 12,
        5,  3,  9,  3, 13,  3,  3,  3,  7,  3,  7,  3,  3,  3,  9,  3,  5,
        7,  3,  5,  3,  3, 11,  7,  5,  5,  5,  5,  6,  5,  3,  9,  3,  5,
        5,  5,  5,  5,  9,  4,  9,  9,  5,  9,  3,  9,  5,  4,  3,  5,  5,
        5,  4,  4,  5,  4, 13,  4,  4,  4, 13,  4,  5,  4,  4,  4,  4,  4,
       13,  4,  5,  5,  4,  5,  5,  4,  5,  4,  5,  4,  5,  5,  3,  3,  7,
        4,  7,  5,  7,  4,  7,  7,  7,  5,  5,  5,  5,  7,  5,  5,  7,  7,
        7,  7,  7,  4,  7,  5,  5,  5,  5,  7,  5,  7,  7,  5,  7,  5,  7,
        7,  5,  7,  7,  4,  5,  4,  5,  3,  4,  7,  5,  4,  7,  4,  5,  5,
        4,  5,  5,  5,  4,  5,  4,  5,  6,  5, 13,  6,  5,  6,  5,  6,  6,
        5,  6,  6,  5,  6, 12,  6, 12,  6,  6,  6,  6,  6,  6,  6,  5,  6,
        6,  6,  6,  4,  5,  7,  6,  6,  6,  6,  6,  5,  6,  5,  5,  4,  3,
        6,  4,  4,  6,  8,  6,  6,  4,  6,  6,  4,  4,  6, 12,  6,  6,  9,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  9])

In [456]:
from sklearn.naive_bayes import *
clf = MultinomialNB()
clf.fit(train_X, train_Y)
ans2 = clf.predict(test_X)
ans2

array([ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2, 11,  9,
        9,  9,  9, 10,  9,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,
        9,  9, 13,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  2,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,  9,  9,  9,  9,  9,
        2,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,
        9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9, 11,
        9,  9, 11,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 10,  9,
        9, 10,  9,  9, 11, 10,  9,  9, 10, 10, 11, 11,  9,  9, 11, 10,  9,
       11,  9, 10,  9,  1, 10,  9, 10,  9, 10, 11,  9, 10,  9,  9,  9,  1,
       10, 10,  1,  9,  9, 10, 10,  1,  9,  9, 10,  1, 10,  1,  1,  9,  1,
        9,  1,  1,  9, 10, 10, 10, 10, 10,  1, 10,  9,  1,  1, 10, 10,  1,
       11,  9, 10,  9,  9,  9,  9, 11,  9,  9, 11,  9,  9,  1,  9, 10,  1,
        1, 10,  1,  1,  9,  9,  1,  9,  1,  9, 10,  9,  1, 10,  9, 11, 10,
       10, 10, 11,  1,  9,  9,  9,  9,  1,  9,  9, 11,  9,  9,  9,  9,  9,
        1,  9,  9,  9,  1,  9,  1,  1,  9,  9,  9, 11, 11,  9,  9,  1,  1,
        9,  1, 11,  1, 11,  9, 10, 11,  9,  1, 11, 11, 11, 11,  1, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  9,  9, 11, 11,
       11, 11, 11,  9, 10,  9,  9,  1,  9, 10,  1, 13, 13, 13, 13, 13,  9,
        1,  9,  9, 13, 13, 13, 13, 13, 13, 13,  9,  9,  9, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 13, 10, 13, 13, 13, 13, 13,
        8, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12,  9,  9, 12,  9, 12, 12,  9,  8,  1, 12, 13,  9, 12,  9,
        2,  2, 12,  9, 12, 12,  8, 12, 12, 13,  8, 12, 12,  9,  9,  9,  2,
        9,  8, 11,  8,  8,  9,  9,  8,  8,  8,  8,  8,  8,  8,  2,  8,  9,
        8,  8,  8,  8,  8,  9,  8,  8,  8,  8,  8,  8,  9,  8,  8,  8,  8,
        9, 12,  2,  2,  9,  9,  9,  9,  9,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  9,  2,  8,  9, 11,  9,  9, 13, 11, 11,  4,  9,  2,  8, 12, 12,
       13, 12, 12,  9, 12,  1,  9,  9, 12, 11,  9, 11,  9,  9,  9,  9,  7,
        9,  7,  7,  9,  9,  7,  7,  9,  9,  7,  9,  9,  9,  9,  9,  7,  9,
        9,  7,  9,  7,  9,  9,  9,  9,  7, 12,  8,  7, 12,  7,  7,  7,  7,
        7,  7,  7,  7,  9, 11,  1,  1,  4, 11, 12,  3,  3,  4,  3,  3,  3,
        3,  5,  5,  3,  5,  5,  3,  3,  4,  5, 12,  7,  7,  3,  3,  3, 12,
        5,  3,  9,  3,  4,  3,  3,  3,  7,  3,  7,  3,  3,  3,  9,  3,  5,
        3,  3,  5,  3,  3, 11,  7,  5,  5,  5,  5,  6,  5,  3,  9,  3,  5,
        5,  5,  5,  5,  9,  4,  9,  9,  5,  9,  6,  9,  5,  4,  3,  5,  5,
        5,  4,  4,  5,  4,  4,  4,  4,  4, 13,  4,  5,  4,  4,  4,  4,  4,
       11,  4,  5,  5,  4,  5,  5,  4,  5,  4,  5,  4,  5,  5,  3,  3,  7,
        4,  7,  5,  7,  4,  7,  7,  7,  5,  5,  5,  5,  7,  5,  5,  7,  7,
        7,  7,  7,  4,  7,  5,  5,  5,  5,  7,  5,  4,  7,  5,  7,  5,  7,
        7,  5,  7,  7,  4,  5,  4,  5,  3,  4,  7,  5,  4,  7,  4,  5,  5,
        4,  5,  5,  5,  4,  5,  4,  5,  6,  5,  4,  6,  5,  6,  5,  6,  6,
        5,  6,  6,  5,  6, 12,  6, 12,  6,  6,  6,  6,  6,  6,  6,  5,  6,
        6,  6,  6,  4,  5,  7,  6,  6,  6,  6,  6,  5,  6,  5,  5,  4,  3,
        6,  4,  4,  6,  9,  6,  6,  4,  6,  6,  4,  4,  6, 12,  6,  6,  9,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  9])

In [444]:
clf = BernoulliNB()
clf.fit(train_X, train_Y)
ans2 = clf.predict(test_X)
ans2

array([ 2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  2,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,  9,  9,  9,  9,  9,
        2,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  2,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 11,  9,  9, 11,
        9,  9, 11,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9, 10,  9,
        9, 10,  9,  9, 11, 10,  9,  9, 10, 10, 11, 11,  9,  9, 11, 10,  9,
       11,  9, 10,  9,  1, 10,  9, 10,  9, 10, 11,  9, 10,  9,  9,  9,  1,
       10, 10,  1,  9,  9, 10, 10,  1,  9,  9, 10,  1, 10,  1,  1,  9,  1,
        9,  1,  1,  9, 10, 10, 10, 10, 10,  1, 10,  9,  1,  1, 10, 10,  1,
       11,  9, 10,  9,  9,  9,  9, 11,  9,  9, 11,  9,  9,  1,  9, 10,  1,
        1, 10,  1,  1,  9,  9,  1,  9,  1,  9, 10,  9,  1, 10,  9, 11, 10,
       10, 10, 11,  1,  9,  9,  9,  9,  1,  9,  9, 11,  9,  9,  9,  9,  9,
        1,  9,  9,  9,  1,  9,  1,  1,  9,  9,  9, 11, 11,  9,  9,  1,  1,
        9,  1, 11,  1, 11,  9,  9, 11,  9,  1, 11, 11, 11, 11,  1, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,  9,  9, 11, 11,
       11, 11, 11,  9, 10,  9,  9,  1,  9, 10,  1, 13, 13, 13, 13, 13,  9,
        1,  9,  9, 13, 13, 13, 13, 13, 13, 13,  9,  9,  9, 13, 13, 13, 13,
       13, 13, 13, 13, 13, 13, 13, 13, 13, 12, 13, 10, 13, 13, 13, 13, 13,
        8, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12,
       12, 12, 12,  9,  9, 12,  9, 12, 12,  9,  8,  1, 12, 13,  9, 12,  9,
        2,  2, 12,  9, 12, 12,  8, 12, 12, 13,  8, 12, 12,  9,  9,  9,  2,
        9,  8, 11,  8,  8,  9,  9,  8,  8,  8,  8,  8,  8,  8,  2,  8,  9,
        8,  8,  8,  8,  8,  9,  8,  8,  8,  8,  8,  8,  9,  8,  8,  8,  8,
        9, 12,  2,  2,  9,  9,  9,  9,  9,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  9,  2,  8,  9, 11,  9,  9, 13, 11, 11,  4,  9,  2,  8, 12, 12,
       13, 12, 12,  9, 12,  1,  9,  9, 12, 11,  9, 11,  9,  9,  9,  9,  7,
        9,  7,  7,  9,  9,  7,  7,  9,  9,  7,  9,  9,  9,  9,  9,  7,  9,
        9,  7,  9,  7,  9,  9,  9,  9,  7, 12,  8,  7, 12,  7,  7,  7,  7,
        7,  7,  7,  7,  9, 11,  1,  1,  4, 11, 12,  3,  6,  4,  3,  3,  3,
        6,  5,  5,  3,  5,  5,  3,  6,  4,  5, 12,  7,  7,  3,  3,  3, 12,
        5,  3,  9,  3,  4,  3,  3,  3,  7,  6,  7,  3,  3,  3,  9,  3,  5,
        9,  3,  5,  3,  6, 11,  7,  5,  5,  5,  5,  6,  5,  6,  9,  3,  5,
        5,  5,  5,  5,  9,  4,  9,  9,  5,  9,  6,  9,  5,  4,  3,  5,  5,
        5,  4,  4,  5,  4, 11,  4,  4,  4,  4,  4,  5,  4,  4,  4,  4,  4,
       11,  4,  5,  5,  4,  5,  5,  4,  5,  4,  5,  4,  5,  5,  3,  3,  7,
        4,  7,  5,  7,  4,  7,  7,  7,  5,  5,  5,  5,  7,  5,  7,  7,  7,
        7,  7,  7,  4,  7,  5,  5,  5,  5,  7,  5,  7,  7,  5,  7,  5,  7,
        7,  5,  7,  7,  4,  5,  4,  5,  3,  4,  7,  5,  4,  7,  4,  5,  5,
        4,  5,  5,  5,  4,  5,  4,  5,  6,  5,  4,  6,  5,  6,  5,  6,  6,
        5,  6,  6,  5,  6, 12,  6, 12,  6,  6,  6,  6,  6,  6,  6,  5,  6,
        6,  6,  6,  4,  5,  7,  6,  6,  6,  6,  6,  5,  6,  5,  5,  4,  3,
        6,  4,  4,  6,  9,  6,  6,  4,  6,  6,  4,  4,  6, 12,  6,  6,  9,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  9])

In [455]:
print(train_X.shape, train_Y.shape , test_X.shape)

(946, 186) (946,) (900, 186)

In [457]:
df_ans = pd.DataFrame(list(zip(test_id,ans2)),columns=['id','Value'])
df_ans.to_csv('output/MNB05_sk.csv',index=False)
df_ans

       id  Value
0      17      2
1      18      2
2      20      2
3      21      2
4      22      2
5      23      2
6      24      2
7      25      2
8      26      2
9      27      2
10     28      2
11     30      2
12     32      2
13     33      2
14     34      2
15     35      2
16     36      2
17     37      2
18     38      2
19     39      2
20     40      2
21     41      2
22     42      2
23     43      2
24     45      2
25     46      2
26     47      2
27     48      2
28     49      2
29     50      2
..    ...    ...
870  1066      6
871  1067      9
872  1068      6
873  1069      6
874  1070      4
875  1071      6
876  1072      6
877  1073      4
878  1074      4
879  1075      6
880  1076     12
881  1077      6
882  1078      6
883  1079      9
884  1080      6
885  1081      6
886  1082      6
887  1083      6
888  1084      6
889  1085      6
890  1086      6
891  1087      6
892  1088      6
893  1089      6
894  1090      6
895  1091      6
896  1092      6
897  1093      6
898  1094      6
899  1095      9

[900 rows x 2 columns]